@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-main {
    background-image: url('/public/images/bg.jpg');
    background-size: cover;
    background-position: center -250px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

